<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Forgot Password (v2)</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="card card-outline-tabs card-lightblue">
      <div class="card-header text-center">
        <a href="/passwordforgot" class="h1"><b>Send OTP</b></a>
      </div>
      <div class="card-body">

        <% if(message3){ %>
          <div class="w-100 rounded p-2 mb-3 btn-danger text-white" role="alert">
              <%= message3 %>
          </div>
          <% } %>

        <form action="/OTP" method="post">
          <div class="input-group mb-3">
            <input type="email" name="uEmail" class="form-control" placeholder="Email">
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <button type="submit" class="btn btn-success btn-block">Send OTP</button>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <a href="/" class="btn btn-info btn-block">
                Log In
              </a>
            </div>
            <div class="col-6">
              <a href="/register" type="submit" class="btn btn-danger btn-block">Sign Up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../dist/js/adminlte.min.js"></script>
</body>

</html>