<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="/admin" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="/upload/download.png" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">
                  <% if(username!= undefined) { %>
                    <%= username %>
                      <% } else { %>
                        Default
                        <% } %>
                </h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/admin" class="nav-item nav-link <% if(selected =='admin'){ %>active <% } %> "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/category" class="nav-item nav-link  <% if(selected =='category'){ %>active <% } %>"><i class="fa fa-keyboard me-2"></i>Category</a>
            <a href="/subcategory/alldata" class="nav-item nav-link  <% if(selected =='subcat'){ %>active <% } %>"><i class="fa fa-keyboard me-2"></i>Sub Category</a>
            <a href="/product" class="nav-item nav-link  <% if(selected =='product'){ %>active <% } %>"><i class="fa fa-keyboard me-2"></i>Product</a>
            <a href="/productDisplay" class="nav-item nav-link <% if(selected =='producttable'){ %>active <% } %>"><i class="fa fa-table me-2"></i>Product Table</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->